<!-- Indicators -->
<ol class="carousel-indicators">
    <% _.forEach(creations, function(url, index) { %><li data-target="#creations-slider" class="<% if (index === 0) { %>active<% } %>" data-slide-to="<%= index %>"></li>
    <% }); %>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
    <% _.forEach(creations, function(url, index) { %><div class="item <% if (index === 0) { %>active<% } %>"><img alt="" src="<%= url %>"></div>
    <% }); %>
</div>

<!-- Controls -->
<a class="carousel-control left" href="#creations-slider" data-slide="prev" title="Previous Slide" tabindex="0">
  <i class="fa fa-chevron-left"></i>
</a>
<a class="carousel-control right" href="#creations-slider" data-slide="next" title="Next Slide" tabindex="0">
  <i class="fa fa-chevron-right"></i>
</a>


