@font-face {
    font-family: 'CenturyGothicStd';
    src: url('../fonts/centurygothicstd.eot');
    src: url('../fonts/centurygothicstd.eot?#iefix') format('embedded-opentype'), url('../fonts/centurygothicstd.woff') format('woff'), url('../fonts/centurygothicstd.ttf') format('truetype'), url('../fonts/centurygothicstd.svg#centurygothicstd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothicStd-Bold';
    src: url('../fonts/centurygothicstd-bold.eot');
    src: url('../fonts/centurygothicstd-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/centurygothicstd-bold.woff') format('woff'), url('../fonts/centurygothicstd-bold.ttf') format('truetype'), url('../fonts/centurygothicstd-bold.svg#centurygothicstd-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
