<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marshall Upshur - Hi!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Me in a nutshell">
    <meta name="author" content="Marshall Upshur">
    <meta property="og:title" content="Marshall Upshur">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://<!-- @echo OG_URL -->.marshallupshur.com">
    <meta property="og:image" content="http://<!-- @echo OG_URL -->.marshallupshur.com/images/og_image.jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="450" />
    <meta property="og:description" content="Me in a nutshell">
    <meta property="fb:app_id" content="364953920339883">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="author" href="humans.txt" />

    <!--[if lt IE 9]>
    <script>
        (function(){
          var ef = function(){};
          window.console = window.console || {log:ef,warn:ef,error:ef,dir:ef};
        }());
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="mincss/main.css?v<!-- @echo APP_VERSION -->">

    @@include('./../tmp/partials/analytics.html')
</head>

<body data-spy="scroll" data-target=".navbar">

    <div id="app">@@include('./../tmp/partials/components/app.html')</div>

    <div id="content" style="display: none;">
        <div class="container">

        <section id="photos">
            <div class="page-header">
                <h2 class="">Photos <small>the world through my eyes</small></h1>
                    <a href="http://photos.marshallupshur.com" target="_self" tabindex="0"
                    class="btn btn-primary btn-lg btn-link launch" title="View Photos"
                    data-toggle="tooltip" data-placement="left">
                    photos <i class="fa fa-chevron-circle-right"></i>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="photos-slider-container" ng-controller="PhotosCtrl">
                <div class="section-loader" ng-hide="showPhotosContainer">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div id="photos-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000" ng-show="showPhotosContainer" ng-cloak>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#photos-slider" ng-repeat="photo in photos" data-slide-to="{{$index}}" ng-class="{active: $index === 0}"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item" ng-repeat="photo in photos" ng-class="{active: $index === 0}" on-finish-render="startCarousel">
                            <img class="img-responsive" ng-src="{{photo.src}}" alt="{{photo.alt}}">
                        </div>
                    </div>

                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#creations-slider" data-slide="prev" title="Previous Slide" tabindex="0">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control right" href="#creations-slider" data-slide="next" title="Next Slide" tabindex="0">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </section>
            <!-- contact-modal -->
            @@include('./../tmp/partials/contact_modal_template.html')
        </div>
    </div>


    <div id="resumeSnackbar" class="snackbar"></div>

    <!-- DATA -->
    <!-- @echo __DATA__ -->
    <!-- VENDOR -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- App -->
    <script type="text/javascript" src="minjs/libs.min.js?v<!-- @echo APP_VERSION -->"></script>
    <script type="text/javascript" src="minjs/app.min.js?v<!-- @echo APP_VERSION -->"></script>
</body>
</html>
