<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marshall Upshur - Hi!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Me in a nutshell">
    <meta name="author" content="Marshall Upshur">
    <meta property="og:title" content="Marshall Upshur">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://<!-- @echo OG_URL -->.marshallupshur.com">
    <meta property="og:image" content="http://<!-- @echo OG_URL -->.marshallupshur.com/images/og_image.jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="450" />
    <meta property="og:description" content="Me in a nutshell">
    <meta property="fb:app_id" content="364953920339883">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="author" href="humans.txt" />

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="mincss/main.css?v<!-- @echo APP_VERSION -->">

    @@include('./../tmp/partials/analytics.html')
</head>

<body data-spy="scroll" data-target=".navbar">

    <div id="app">@@include('./../tmp/partials/components/app.html')</div>

    <div id="content">
        <div class="container">

            <section id="about" class="jumbotron main">
                <div class="page-header">
                    <h1>Me <small>in a nutshell</small></h1>
                </div>
                <div class="portrait pull-right">
                    <div class="portrait-image">
                        <img ng-src="images/profiles/bitstrip_001.jpg"/>
                    </div>
                </div>
                <p>Hi, I'm a progressive web technologist focused on creating beautiful, easy to use, goal oriented web applications using cutting edge technologies across all devices.  I am not just a "web developer", I love working in the full stack. Making sure that some pesky Javascript is not causing too many repaints, and that some RESTful service is performing at scale is my passion.</p>

                <p>That said, I also understand that great stacks are best created by great teams.  I love working with others to help create a positive and winning user experience. Creating positive working relationships, collaborations with my peers, and helping increase the overall productivity of my working environment is something I strive for in any setting.</p>

                <p>Forever learning, forever evolving, that's me in a nutshell.</p>

                <p>Find out more about me, the `projects.status === 'done' ? 'I've worked on' : 'I'm working on'`, and some of my hobbies below.</p>

            </section>

            <section id="creations">
                <div class="page-header">
                    <h2 class="">Creations <small>think it. dream it. create it.</small></h2>
                    <a href="http://www.mbucreations.com" target="_self" tabindex="0"
                    class="btn btn-primary btn-lg btn-link launch" title="mbu Creations Portfolio"
                    data-toggle="tooltip" data-placement="left">
                    portfolio <i class="fa fa-chevron-circle-right"></i>
                </a>
                <div class="clearfix"></div>
            </div>
            <p class="lead match-view">Along with some of the cool stuff I work on at work, I do projects on the side to keep my healthy appetite for latest technology and trends up to date.  Check some of these out below and by going to my portfolio.</p>
            <div class="creations-slider-container">
                <div id="creations-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
                    @@include('./../tmp/partials/creations_slider.html')
                </div>
            </div>
        </section>

        <section id="resume" ng-controller="ResumeCtrl" resume-egg looking="true">
            <div class="page-header">
                <h2>Resume <small>a summary of experience</small></h1>
                    <a href="downloads/Marshall_Upshur_2015b.pdf" target="_blank" tabindex="0"
                    class="btn btn-primary btn-lg btn-link launch" title="Download Resume"
                    data-toggle="tooltip" data-placement="left">
                    resume <i class="fa fa-chevron-circle-right"></i>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="resume-view-container">
                <div class="section-loader" ng-hide="showResumeContainer">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div id="resume-view" class="" ng-show="showResumeContainer" ng-cloak>
                    @@include('./../tmp/partials/resume_template.html')
                    <div class="scroll-blocker" ng-hide="scrollBlockerDisabled" ng-click="disableScrollBlocker()">
                        <div class="scroll-blocker-title">click to view</div>
                    </div>
                </div> <!-- resume-view -->
            </div> <!-- resume-view-container -->
        </section>

        <section id="blog">
            <div class="page-header">
                <h2 class="">Blog <small>ramblings of a geek</small></h1>
                    <a href="http://blog.marshallupshur.com" target="_self" tabindex="0"
                    class="btn btn-primary btn-lg btn-link launch" title="Blog"
                    data-toggle="tooltip" data-placement="left">
                    blog <i class="fa fa-chevron-circle-right"></i>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="blog-updates-container" ng-controller="FeedCtrl">
                <div class="span12 section-loader" ng-hide="feeds.length > 0">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div class="row">
                    <div ng-repeat="feed in feeds" class="col-md-4" ng-cloak>
                        <div class="post">
                            <h4 class="title">{{feed.title}}</h4>
                            <p class="meta"><small>{{feed.publishedDateObject | date:'MM/dd/yyyy @ h:mma'}}</small></p>
                            <p class="text" ng-bind-html="feed.contentSnippet"></p>
                            <p class="controls">
                                <a href="{{feed.link}}" tabindex="0" class="btn btn-sm btn-mbu" title="View blog post titled {{feed.title}}">
                                    View post <i class="icon-double-angle-right"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="photos">
            <div class="page-header">
                <h2 class="">Photos <small>the world through my eyes</small></h1>
                    <a href="http://photos.marshallupshur.com" target="_self" tabindex="0"
                    class="btn btn-primary btn-lg btn-link launch" title="View Photos"
                    data-toggle="tooltip" data-placement="left">
                    photos <i class="fa fa-chevron-circle-right"></i>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="photos-slider-container" ng-controller="PhotosCtrl">
                <div class="section-loader" ng-hide="showPhotosContainer">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div id="photos-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000" ng-show="showPhotosContainer" ng-cloak>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#photos-slider" ng-repeat="photo in photos" data-slide-to="{{$index}}" ng-class="{active: $index === 0}"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item" ng-repeat="photo in photos" ng-class="{active: $index === 0}" on-finish-render="startCarousel">
                            <img class="img-responsive" ng-src="{{photo.src}}" alt="{{photo.alt}}">
                        </div>
                    </div>

                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#creations-slider" data-slide="prev" title="Previous Slide" tabindex="0">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control right" href="#creations-slider" data-slide="next" title="Next Slide" tabindex="0">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </section>

        <section id="experiments">
            <div class="page-header">
                <h2 class="">Experiments <small>tinker tinker tinker...</small></h1>
                </div>
                <div class="experiments-container" ng-controller="ExperimentsCtrl">
                    <div class="experiments">
                        <div class="exp-title">coming soon <i id="exp-flask" class="fa fa-flask animated" flask-bubble></i></div>
                    </div>
                </div>
            </section>

            <!-- contact-modal -->
            @@include('./../tmp/partials/contact_modal_template.html')
        </div>
    </div>

    <footer ng-controller="FooterCtrl">
        <div class="container">
            <p class="pull-left">
                <i class="fa fa-html5"></i>&nbsp;<i class="fa fa-css3"></i>&nbsp;<i class="fa fa-apple"></i><span class="site-version">v<!-- @echo APP_VERSION --></span>
            </p>
            <p class="pull-right">
                &copy;<!-- @echo COPY_YEAR --> Marshall Upshur | <a href="http://mbucreations.com" tabindex="0" class="btn-link" target="_self" title="Go to mbu Creations">mbu Creations</a>
            </p>
        </div>
    </footer>

    <div id="resumeSnackbar" class="snackbar"></div>

    <!-- Vendor -->

    <!-- App -->
    <script src="minjs/libs.min.js?v<!-- @echo APP_VERSION -->"></script>
    <script src="minjs/app.min.js?v<!-- @echo APP_VERSION -->"></script>
</body>
</html>
